<h2>Allocate Employees to Project</h2>

<form method="post">
    {% csrf_token %}

    <label>Select Project</label>
    <select name="project" required>
        {% for proj in projects %}
            <option value="{{ proj.id }}">
                {{ proj.project_name }} (Required: {{ proj.max_employees }})
            </option>
        {% endfor %}
    </select>

    <hr>

    <h3>Select Employees & Assign Hours</h3>

    {% for emp in employees %}
        <div style="margin-bottom:10px;">
            <input type="checkbox" name="employees" value="{{ emp.id }}">
            {{ emp.full_name }}

            <input type="number" step="0.1"
                   name="hours_{{ emp.id }}"
                   placeholder="Hours per week">
        </div>
    {% endfor %}

    <br>
    <button type="submit">Allocate</button>
</form>

<br>
<a href="/pm-dashboard/">Back</a>